.dialog-card {
    padding: 16px 20px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    width: 100%;
    max-width: 400px;
}

.dialog-title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #d32f2f;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 12px;
}

.dialog-content {
    font-size: 15px;
    color: #444;
    margin-bottom: 16px;
    line-height: 1.4;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;


}

button[color="warn"] {
    color: white !important;
}

@media (max-width: 480px) {
    .dialog-card {
        max-width: 90vw;
    }

    .dialog-title {
        font-size: 1.1rem;
    }

    .dialog-content {
        font-size: 14px;
    }
}
